
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link det" href="#">SK Corp</a>
      <a class="nav-item nav-link det" href="#">#9989996900</a>
      
    </div>
  </div>
</nav>


</body>


</html>