<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Placement Guru</h1>
    <p class="lead">One-Stop for all your placement releated material</p>
  </div>
</div>

<div class = "container body">
	<p>
		Dear readers, these C Programming Interview Questions have been designed specially to get you acquainted with the nature of questions you may encounter during your interview for the subject of C Programming. As per my experience good interviewers hardly plan to ask any particular question during your interview, normally questions start with some basic concept of the subject and later they continue based on further discussion and what you answer −
	</p>
	<hr>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><strong>What is a pointer on a pointer?</strong></div>
				<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">It’s a pointer variable which can hold the address of another pointer variable. It de-refers twice to point to the data held by the designated pointer variable.<br><samp>Eg: int x = 5, *p=&x, **q=&p;</samp><br>Therefore ‘x’ can be accessed by **q.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home1-list" data-toggle="list" href="#list-home1" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile1-list" data-toggle="list" href="#list-profile1" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home1" role="tabpanel" aria-labelledby="list-home1-list"><strong>Why is C known as a mother language?</strong></div>
				<div class="tab-pane fade" id="list-profile1" role="tabpanel" aria-labelledby="list-profile1-list">C is known as a mother language because most of the compilers and JVMs are written in C language. Most of the languages which are developed after C language has borrowed heavily from it like C++, Python, Rust, javascript, etc. It introduces new core concepts like arrays, functions, file handling which are used in these languages.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home2-list" data-toggle="list" href="#list-home2" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile2-list" data-toggle="list" href="#list-profile2" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home2" role="tabpanel" aria-labelledby="list-home2-list"><strong>What is the use of printf() and scanf() functions?</strong></div>
				<div class="tab-pane fade" id="list-profile2" role="tabpanel" aria-labelledby="list-profile2-list">
					<strong>printf()</strong>: The printf() function is used to print the integer, character, float and string values on to the screen.<br>Following are the format specifier:<br>
					<ul class="list-group">
						<li class="list-group-item"><strong>%d</strong>: It is a format specifier used to print an integer value.</li>
						<li class="list-group-item"><strong>%c</strong>: It is a format specifier used to print a character value.</li>
						<li class="list-group-item"><strong>%f</strong>: It is a format specifier used to display a floating point value.</li>
						<li class="list-group-item"><strong>%s</strong>: It is a format specifier used to display a string.</li>
					</ul><hr>
					The <strong>scanf()</strong> function is used to take input from the user.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home3-list" data-toggle="list" href="#list-home3" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile3-list" data-toggle="list" href="#list-profile3" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home3" role="tabpanel" aria-labelledby="list-home3-list"><strong>Why is C called a mid-level programming language?</strong></div>
				<div class="tab-pane fade" id="list-profile3" role="tabpanel" aria-labelledby="list-profile3-list">C is called a mid-level programming language because it binds the low level and high -level programming language. We can use C language as a System programming to develop the operating system as well as an Application programming to generate menu driven customer driven billing system.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home4-list" data-toggle="list" href="#list-home4" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile4-list" data-toggle="list" href="#list-profile4" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home4" role="tabpanel" aria-labelledby="list-home4-list"><strong>Who is the founder of C language?</strong></div>
				<div class="tab-pane fade" id="list-profile4" role="tabpanel" aria-labelledby="list-profile4-list">Mr. Dennis Ritchie.
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
	
</div>








<%- include("partials/footer") %>
