<%- include("partials/header") %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Placement Guru</h1>
    <p class="lead">One-Stop for all your placement releated material</p>
  </div>
</div>

<div class = "container body">
	<p>
		Dear readers, these DBMS Interview Questions have been designed specially to get you acquainted with the nature of questions you may encounter during your interview for the subject of DBMS. As per my experience good interviewers hardly plan to ask any particular question during your interview, normally questions start with some basic concept of the subject and later they continue based on further discussion and what you answer −
	</p>
	<hr>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><strong>What is a database?</strong></div>
				<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">A Database is a logical, consistent and organized collection of data that it can easily be accessed, managed and updated. Databases, also known as electronic databases are structured to provide the facility of creation, insertion, updating of the data efficiently and are stored in the form of a file or set of files, on the magnetic disk, tapes and another sort of secondary devices. Database mostly consists of the objects (tables), and tables include of the records and fields. Fields are the basic units of data storage, which contain the information about a particular aspect or attribute of the entity described by the database. DBMS is used for extraction of data from the database in the form of the queries.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home1-list" data-toggle="list" href="#list-home1" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile1-list" data-toggle="list" href="#list-profile1" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home1" role="tabpanel" aria-labelledby="list-home1-list"><strong>What is a database system?</strong></div>
				<div class="tab-pane fade" id="list-profile1" role="tabpanel" aria-labelledby="list-profile1-list">The collection of database and DBMS software together is known as a database system. Through the database system, we can perform many activities such as-<br>The data can be stored in the database with ease, and there are no issues of data redundancy and data inconsistency.<br>The data will be extracted from the database using DBMS software whenever required. So, the combination of database and DBMS software enables one to store, retrieve and access data with considerate accuracy and security.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home2-list" data-toggle="list" href="#list-home2" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile2-list" data-toggle="list" href="#list-profile2" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home2" role="tabpanel" aria-labelledby="list-home2-list"><strong>What are the advantages of DBMS?</strong></div>
				<div class="tab-pane fade" id="list-profile2" role="tabpanel" aria-labelledby="list-profile2-list">
					<ul class="list-group">
						<li class="list-group-item">Redundancy control</li>
						<li class="list-group-item">Authentication and Authorization capabilities</li>
						<li class="list-group-item">Enhanced Security</li>
						<li class="list-group-item">Data consistency</li>
						<li class="list-group-item">Easy accessibility</li>
						<li class="list-group-item">Easy data extraction and data processing due to the use of queries</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home3-list" data-toggle="list" href="#list-home3" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile3-list" data-toggle="list" href="#list-profile3" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home3" role="tabpanel" aria-labelledby="list-home3-list"><strong>What is a checkpoint in DBMS?</strong></div>
				<div class="tab-pane fade" id="list-profile3" role="tabpanel" aria-labelledby="list-profile3-list">The Checkpoint is a type of mechanism where all the previous logs are removed from the system and permanently stored in the storage disk.<br>There are two ways which can help the DBMS in recovering and maintaining the ACID properties, and they are- maintaining the log of each transaction and maintaining shadow pages. So, when it comes to log based recovery system, checkpoints come into existence. Checkpoints are those points to which the database engine can recover after a crash as a specified minimal point from where the transaction log record can be used to recover all the committed data up to the point of the crash.
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-home4-list" data-toggle="list" href="#list-home4" role="tab" aria-controls="home">Question</a>
				<a class="list-group-item list-group-item-action" id="list-profile4-list" data-toggle="list" href="#list-profile4" role="tab" aria-controls="profile">Answer</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home4" role="tabpanel" aria-labelledby="list-home4-list"><strong>What is RDBMS?</strong></div>
				<div class="tab-pane fade" id="list-profile4" role="tabpanel" aria-labelledby="list-profile4-list">RDBMS stands for Relational Database Management Systems. It is used to maintain the data records and indices in tables. RDBMS is the form of DBMS which uses the structure to identify and access data concerning the other piece of data in the database. RDBMS is the system that enables you to perform different operations such as- update, insert, delete, manipulate and administer a relational database with minimal difficulties. Most of the time RDBMS use SQL language because it is easily understandable and is used for often.
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
	
	
</div>








<%- include("partials/footer") %>
