<%- include("partials/header") %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Placement Guru</h1>
    <p class="lead">One-Stop for all your placement releated material</p>
  </div>
</div>

<div class = "container body">
	<p class = "lead">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac metus eros. Phasellus consequat bibendum arcu in vehicula. Nulla quis urna quis risus dignissim fermentum sed vitae nisi. Nulla ac laoreet libero, et fringilla diam. Sed viverra risus augue, a hendrerit dolor imperdiet et. Phasellus ullamcorper facilisis ultricies. Donec ut mollis nibh. In sed tellus vehicula, congue dui id, imperdiet magna. Quisque laoreet, eros efficitur tempus sollicitudin, est augue tristique purus, non ullamcorper sapien dolor non est. Sed est ex, convallis non orci non, rhoncus efficitur tortor. Donec quis imperdiet turpis, nec pulvinar ligula. Ut velit augue, euismod at tristique at, egestas nec ipsum.
	</p>
	
	
</div>
<%- include("partials/footer") %>
